<div class="page-template">
    <div class="page-title">{{langpack.offers}}</div>
    <div class="offers-block">

        {{#data.offers}}
        <div class="list-item">
            <div class="image-list" style="background-image: url('assets/images/backend-images/image_8.png');">
                <div class="corner"></div>
            </div>
            <div class="list-description-block">
                <div class="list-title">Sed do eiusmod</div>
                <div class="list-description">
                    Agosto ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                    <a href="../offer-details.html">read more</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        {{/data.offers}}
        <div class="clear"></div>
    </div>
    <div class="fixed-bottom-contact">{{langpack.contacts}}</div>
</div>

<a href="main/home" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="Home"/></a>

<div class="right-menu">
    <a href="hotel/rooms" class="menu-item">
        <img src="assets/images/ico_rooms.png" alt="{{langpack.rooms}}"/>
        <span>{{langpack.rooms}}</span>
    </a>
    <a class="menu-item active-menu">
        <img src="assets/images/ico_offers.png" alt="{{langpack.offers}}"/>
        <span>{{langpack.offers}}</span>
    </a>
    <a href="hotel/fruhstuck" class="menu-item">
        <img src="assets/images/ico_dining.png" alt="{{langpack.fruhstuck}}"/>
        <span>{{langpack.fruhstuck}}</span>
    </a>
</div>