<div class="page-template">
    <div class="fixed-header">
        <div class="page-title">{{langpack.offers}}</div>
    </div>
    <div class="header-space"></div>

    <div class="hotel-menu-items">
        {{#data.offers}}
        <div class="hotel-menu-item" style="background-image: url('{{gallery.0.image}}');">
            <div class="menu-detail-text">
                <div class="menu-detail-title">{{title}}</div>
                <div class="menu-details-sub-title">{{subtitle}}</div>
                <div class="menu-detail-content">{{{description}}}</div>
            </div>
        </div>
        {{/data.offers}}
        <div class="clear"></div>
    </div>

    <div class="fixed-bottom-contact">{{{langpack.contacts}}}</div>

</div>

<a href="main/home" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="Home"/></a>

<div class="right-menu">
    <a href="hotel/rooms" class="menu-item">
        <img src="assets/images/ico_rooms.png" alt="{{langpack.rooms}}"/>
        <span>{{langpack.rooms}}</span>
    </a>
    <a class="menu-item active-menu">
        <img src="assets/images/ico_offers.png" alt="{{langpack.offers}}"/>
        <span>{{langpack.offers}}</span>
    </a>
    <a href="hotel/fruhstuck" class="menu-item">
        <img src="assets/images/ico_dining.png" alt="{{langpack.fruhstuck}}"/>
        <span>{{langpack.fruhstuck}}</span>
    </a>
</div>