<div class="page-template">
    <div class="page-title">{{langpack.team}}</div>
    <div class="mansonary-gallery">

        <div id="wrapper">
            <div id="listeam">
                {{#data.team}}
                <div class="item">
                    <img src="{{image}}" alt="{{description}}"/>
                    <div class="team-item-name">{{description}}</div>
                </div>
                {{/data.team}}
            </div>
        </div>

    </div>
</div>

<div class="fixed-bottom-contact">{{langpack.contacts}}</div>

<a href="main/home" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="Home"/></a>