<div class="page-template">
    <div class="fixed-header">
        <div class="page-title">{{langpack.kuche}}</div>
    </div>
    <div class="header-space"></div>

    <div class="hotel-menu-items">
        {{#data.items}}
        <div class="hotel-menu-item" style="background-image: url('{{image}}');">
            <div class="menu-detail-text">
                <div class="menu-price">{{price}}{{currency}}</div>
                <div class="menu-detail-title">{{title}}</div>
                <div class="menu-details-sub-title">{{subtitle}}</div>
                <div class="menu-detail-content">{{{description}}}</div>
            </div>
        </div>
        {{/data.items}}
        <div class="clear"></div>
    </div>

    <div class="fixed-bottom-contact">{{{langpack.contacts}}}</div>

</div>

<a href="main/home" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="Home"/></a>

<div class="right-menu menu-no-icons">
    <a href="bistro/gallery" class="menu-item">
        <span>{{langpack.bistro}}</span>
    </a>
    <a href="bistro/shake" class="menu-item">
        <span>{{langpack.shake}}</span>
    </a>
    <a href="bistro/steaks" class="menu-item">
        <span>{{langpack.steaks}}</span>
    </a>
    <a class="menu-item active-menu">
        <span>{{langpack.kuche}}</span>
    </a>
</div>