<div class="gallery-details fullscreen-details">
    <div class="gradient-block-title">
        <div class="page-title">Bistro + Terrasse</div>
    </div>
    <div class="gradient-bottom"></div>

    <div id="sync1" class="owl-carousel owl-theme">
        {{#album}}
        <div class="item" style="background-image: url('{{image}}');"></div>
        {{/album}}
    </div>

    <div id="sync2" class="thumbs-carousel owl-carousel owl-theme">
        {{#album}}
        <div class="item">
            <div class="gallery-thumb" style="background-image: url('{{thumb}}');"></div>
        </div>
        {{/album}}
    </div>
</div>

<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>

<a href="terminal/home" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="Home"/></a>

<div class="right-menu">
    <a class="menu-item active-menu">
        <img src="assets/images/ico_dining.png" alt="Bistro + Terrasse"/>
        <span>Bistro + Terrasse</span>
    </a>
    <a href="bistro/shake" class="menu-item">
        <img src="assets/images/ico_dining.png" alt="Freak Shake"/>
        <span>Freak Shake</span>
    </a>
    <a href="bistro/steaks" class="menu-item">
        <img src="assets/images/ico_dining.png" alt="Steaks"/>
        <span>Steaks</span>
    </a>
    <a href="bistro/kuche" class="menu-item">
        <img src="assets/images/ico_dining.png" alt="Tiroler Küche"/>
        <span>Tiroler Küche</span>
    </a>
</div>