<div class="offers-details-template" style="background-image: url('../assets/images/bar-image.jpg');">

    <div class="gradient-block-title"></div>

    <div class="gradient-bottom"></div>

    <div class="page-template">
        <div class="offers-details-text">
            <div class="offers-details-text-title">VERTRÄUMTE GIN TAGE</div>
            <div class="offers-details-text-content">
                <p class="offer-date">vom 01.01.2017 bis 31.10.2017 - 2 Übernachtungen ab 598,00 €</p>
                <p>
                    2 Übernachtungen mit Gin Tonic - Tasting in der grössten Gin Bar der Welt!<br/>
                    Die Träumerei #8 entführt Sie auf eine (ent)spannende Traumreise rund um die Welt - in 34
                    unverwechselbaren Zimmer.
                </p>
                <p>
                    Inklusivleistungen: <br/>
                    - 2 Übernachtungen im neuen Fluss- und Bergblickzimmer Deluxe<br/>
                    - täglich Genießer-Frühstücksbuffet bis 11.00 Uhr<br/>
                    - am ersten Abend um 18.00 Uhr Gin Tonic-Tasting (4 verschiedene Gin & Tonics)
                    im Stollen 1930 mit Tiroler Tapas-Vorspeise<br/>
                    - anschließend Tiroler Tapas Hauptspeise (verschiedene Tiroler Spezialitäten
                    und Schmankerl, in Pfannen und Töpfen serviert)
                    und Dessertvariation im Restaurant<br/>
                    - am zweiten Abend 300 gr. Steak p.P. vom Kfs-Argentina-Grill
                </p>
                <p>Wenn Sie Sonntag, Montag, Dienstag oder auch Mittwoch anreisen, verringert sich der Gesamtbetrag der
                    Pauschale um € 20,00 pro Person</p>
            </div>
        </div>
    </div>

</div>
<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>

<!--<a href="offer.html" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="go back" /></a>-->

<div class="right-menu">
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Home</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_rooms.png" alt="Zimmer"/>
        <span>Zimmer</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_offers.png" alt="Angebote"/>
        <span>Angebote</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_dining.png" alt="Frühstück"/>
        <span>Frühstück</span>
    </a>
</div>