<div class="page-template weekly-menu">
    <div class="fixed-header">
        <div class="page-title">WOCHENKARTE <img src="assets/images/kat-shape.png" alt="logo"/></div>
    </div>
    <div class="header-space"></div>

    <div class="hotel-menu-items">

        <div class="weekly-menu-item">
            <div class="weekly-menu-price">13,90</div>
            <div class="weekly-menu-name">„Melone mit Schinken“</div>
            <div class="weekly-menu-name-description">Melonentartre und Jamon Serrana</div>
        </div>
        <div class="weekly-menu-item">
            <div class="weekly-menu-price">5,50</div>
            <div class="weekly-menu-name">Spargelcremesuppe mit Spargelstücken</div>
        </div>
        <div class="weekly-menu-item">
            <div class="weekly-menu-price">14,90</div>
            <div class="weekly-menu-name">Grüner und weißer Spargel</div>
            <div class="weekly-menu-name-description">mit Sauce Dijonaise und Petersilienkartoffel</div>
        </div>
        <div class="weekly-menu-item">
            <div class="weekly-menu-price">19,90</div>
            <div class="weekly-menu-name">Kurzgebratenes vom Iberico Schwein (Schopf und Rücken)</div>
            <div class="weekly-menu-name-description">auf feurigen Chilibohnen und Pane Rustico</div>
        </div>
        <div class="weekly-menu-item">
            <div class="weekly-menu-price">17,50</div>
            <div class="weekly-menu-name">Geschmorte Kalbsbackerl</div>
            <div class="weekly-menu-name-description">mit Kartoffelpüree und glasierten Karotten</div>
        </div>
        <div class="weekly-menu-item">
            <div class="weekly-menu-price">15,90</div>
            <div class="weekly-menu-name">Gebratene Maischolle</div>
            <div class="weekly-menu-name-description">mit Zwiebeln, Speck und Kartoffel</div>
        </div>
        <div class="weekly-menu-item">
            <div class="weekly-menu-price">6,90</div>
            <div class="weekly-menu-name">Topfenknödel</div>
            <div class="weekly-menu-name-description">auf Erdbeersauce mit Butterbrösel und Vanilleeis</div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="fixed-bottom-contact">
        Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
    </div>

</div>

<div class="right-menu">
    <a href="hotel/home" class="menu-item">
        <img src="assets/images/ico_home.png" alt="Home"/>
        <span>Home</span>
    </a>
    <a href="#" class="menu-item">
        <img src="assets/images/ico_rooms.png" alt="Zimmer"/>
        <span>Zimmer</span>
    </a>
    <a href="#" class="menu-item">
        <img src="assets/images/ico_offers.png" alt="Angebote"/>
        <span>Angebote</span>
    </a>
    <a href="#" class="menu-item">
        <img src="assets/images/ico_dining.png" alt="Frühstück"/>
        <span>Frühstück</span>
    </a>
</div>