<div class="page-template weekly-menu">
    <div class="fixed-header">
        <div class="page-title">
            <img src="assets/images/cat-logo.png" alt="Logo"/>
            {{langpack.wochenkarte}}
        </div>
    </div>
    <div class="header-space"></div>

    <div class="hotel-menu-items">
        {{#data.items}}
        <div class="weekly-menu-item">
            <div class="weekly-menu-price">{{price}}{{currency}}</div>
            <div class="weekly-menu-name">{{title}}</div>
            <div class="weekly-menu-name-description">{{{description}}}</div>
        </div>
        {{/data.items}}
        <div class="clear"></div>
    </div>

    <div class="fixed-bottom-contact">{{langpack.contacts}}</div>

</div>

<a href="terminal/home" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="Home"/></a>

<div class="right-menu menu-no-icons">
    <a href="restaurant/gallery" class="menu-item">
        <span>{{langpack.auracher}}</span>
    </a>
    <a href="restaurant/kuche" class="menu-item">
        <span>{{langpack.kuche}}</span>
    </a>
    <a href="restaurant/steaks" class="menu-item">
        <span>{{langpack.steaks}}</span>
    </a>
    <a href="restaurant/naschkatzen" class="menu-item">
        <span>{{langpack.naschkatzen}}</span>
    </a>
    <a class="menu-item active-menu">
        <span>{{langpack.wochenkarte}}</span>
    </a>
</div>