<div class="gallery-details fullscreen-details">
    <div class="gradient-block-title">
        <div class="page-title">{{langpack.bar}}</div>
    </div>
    <div class="gradient-bottom"></div>

    <div id="sync1" class="owl-carousel owl-theme">
        {{#data.album}}
        <div class="item" style="background-image: url('{{image}}');"></div>
        {{/data.album}}
    </div>

    <div id="sync2" class="thumbs-carousel owl-carousel owl-theme">
        {{#data.album}}
        <div class="item">
            <div class="gallery-thumb" style="background-image: url('{{thumb}}');"></div>
        </div>
        {{/data.album}}
    </div>
</div>

<div class="fixed-bottom-contact">{{langpack.contacts}}</div>

<a href="main/home" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="Home"/></a>

<div class="right-menu menu-no-icons">
    <a class="menu-item active-menu">
        <span>{{langpack.bar}}</span>
    </a>
    <a href="bar/guinness" class="menu-item">
        <span>{{langpack.guinness}}</span>
    </a>
    <a href="bar/gin" class="menu-item">
        <span>{{langpack.gin}}</span>
    </a>
    <a href="bar/tonic" class="menu-item">
        <span>{{langpack.tonic}}</span>
    </a>
    <a href="bar/cocktails" class="menu-item">
        <span>{{langpack.cocktails}}</span>
    </a>
    <a href="bar/tagesem" class="menu-item">
        <span>{{langpack.tagesem}}</span>
    </a>
</div>