<div class="page-template cocktail-template">

    <div class="cocktail-blocks">
        <div class="cocktails-block-1" style="background-image: url('{{data.images.0}}');"></div>
        <div class="cocktails-block-2" style="background-image: url('{{data.images.1}}');"></div>
        <div class="cocktails-block-3" style="background-image: url('{{data.images.2}}');"></div>

        <div class="day-cocktail">
            {{{data.content}}}
            <div class="clear"></div>
        </div>

    </div>

</div>

<div class="fixed-bottom-contact">{{{langpack.contacts}}}</div>

<a href="main/home" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="Home"/></a>

<div class="right-menu menu-no-icons">
    <a href="bar/gallery" class="menu-item">
        <span>{{langpack.bar}}</span>
    </a>
    <a href="bar/guinness" class="menu-item">
        <span>{{langpack.guinness}}</span>
    </a>
    <a href="bar/gin" class="menu-item">
        <span>{{langpack.gin}}</span>
    </a>
    <a href="bar/tonic" class="menu-item">
        <span>{{langpack.tonic}}</span>
    </a>
    <a href="bar/cocktails" class="menu-item">
        <span>{{langpack.cocktails}}</span>
    </a>
    <a class="menu-item active-menu">
        <span>{{langpack.tagesem}}</span>
    </a>
</div>