<div class="page-template">
    <div class="bar-categories">
        <div class="drink-category">Tonic</div>

        <div class="bar-items">
            {{#items}}
            <div class="bar-item">
                <div class="bar-item-title">
                    {{title}}
                    <div class="bar-item-price">{{price}}{{currency}}</div>
                </div>
                <div class="bar-item-subtitle">{{subtitle}}</div>
                <div class="bar-item-description">{{{description}}}</div>
            </div>
            {{/items}}
        </div>
    </div>

    <div class="fixed-bottom-contact">
        Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
    </div>

</div>

<a href="terminal/home" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="Home"/></a>

<div class="right-menu menu-no-icons">
    <a href="bar/gallery" class="menu-item">
        <span>Bar-Stollen 1930</span>
    </a>
    <a href="bar/guinness" class="menu-item">
        <span>Guinness Book</span>
    </a>
    <a href="bar/gin" class="menu-item">
        <span>Gin</span>
    </a>
    <a class="menu-item active-menu">
        <span>Tonic</span>
    </a>
    <a href="bar/cocktails" class="menu-item">
        <span>Cocktails</span>
    </a>
    <a href="bar/tagesem" class="menu-item">
        <span>Tagesem pfehlungen</span>
    </a>
</div>