<div class="page-template">

    <div class="fixed-header">
        <div class="page-title">Drinks</div>
    </div>
    <div class="header-space"></div>
    <div class="mansonary-gallery">

        <div id="wrapper">
            <div id="list">
                <div class="item"><a href="#"><img src="../assets/images/backend-gallery/image.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="../assets/images/backend-gallery/image_2.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="../assets/images/backend-gallery/image_3.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="../assets/images/backend-gallery/image_4.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="../assets/images/backend-gallery/image_5.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="../assets/images/backend-gallery/image_6.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="../assets/images/backend-gallery/image_7.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="../assets/images/backend-gallery/image_8.png" alt=""/></a></div>
            </div>
        </div>

    </div>
</div>
<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>
<a href="offers.html" class="go-back-button"><img src="../assets/images/ico-arrow-back.png" alt="go back"/></a>
<div class="right-menu menu-no-icons">
    <a href="#" class="menu-item">
        <span>Gin</span>
    </a>
    <a href="#" class="menu-item">
        <span>Tonic</span>
    </a>
    <a href="#" class="menu-item active-menu">
        <span>Cocktails</span>
    </a>
    <a href="#" class="menu-item">
        <span>Tagesem<br/>pfehlungen</span>
    </a>
</div>