<div class="page-template">

    <div class="fixed-header">
        <div class="page-title">Stoller 1930 Gin</div>
    </div>
    <div class="header-space"></div>

    <div class="bar-categories">
        <div class="drink-category">Gin</div>

        <div class="bar-items">

            <div class="bar-item">
                <div class="bar-item-title">
                    Lisas liebblings-gin: Monkey 47
                    <div class="bar-item-price">8.48</div>
                </div>
                <div class="bar-item-subtitle">Land ESP</div>
                <div class="bar-item-description">
                    Praesent ut euismod libero, sit amet tempor libero. Nunc sodales in mauris vel molestie. Aenean eu
                    maximus sem. In eleifend magna vitae est pellentesque.
                </div>
            </div>
            <div class="bar-item">
                <div class="bar-item-title">
                    Lisas liebblings-gin: Monkey 47
                    <div class="bar-item-price">8.48</div>
                </div>
                <div class="bar-item-subtitle">Land ESP</div>
                <div class="bar-item-description">
                    Praesent ut euismod libero, sit amet tempor libero. Nunc sodales in mauris vel molestie. Aenean eu
                    maximus sem. In eleifend magna vitae est pellentesque.
                </div>
            </div>
            <div class="bar-item">
                <div class="bar-item-title">
                    Lisas liebblings-gin: Monkey 47
                    <div class="bar-item-price">8.48</div>
                </div>
                <div class="bar-item-subtitle">Land ESP</div>
                <div class="bar-item-description">
                    Praesent ut euismod libero, sit amet tempor libero. Nunc sodales in mauris vel molestie. Aenean eu
                    maximus sem. In eleifend magna vitae est pellentesque.
                </div>
            </div>
            <div class="bar-item">
                <div class="bar-item-title">
                    Lisas liebblings-gin: Monkey 47
                    <div class="bar-item-price">8.48</div>
                </div>
                <div class="bar-item-subtitle">Land ESP</div>
                <div class="bar-item-description">
                    Praesent ut euismod libero, sit amet tempor libero. Nunc sodales in mauris vel molestie. Aenean eu
                    maximus sem. In eleifend magna vitae est pellentesque.
                </div>
            </div>
            <div class="bar-item">
                <div class="bar-item-title">
                    Lisas liebblings-gin: Monkey 47
                    <div class="bar-item-price">8.48</div>
                </div>
                <div class="bar-item-subtitle">Land ESP</div>
                <div class="bar-item-description">
                    Praesent ut euismod libero, sit amet tempor libero. Nunc sodales in mauris vel molestie. Aenean eu
                    maximus sem. In eleifend magna vitae est pellentesque.
                </div>
            </div>
            <div class="bar-item">
                <div class="bar-item-title">
                    Lisas liebblings-gin: Monkey 47
                    <div class="bar-item-price">8.48</div>
                </div>
                <div class="bar-item-subtitle">Land ESP</div>
                <div class="bar-item-description">
                    Praesent ut euismod libero, sit amet tempor libero. Nunc sodales in mauris vel molestie. Aenean eu
                    maximus sem. In eleifend magna vitae est pellentesque.
                </div>
            </div>
        </div>

    </div>
</div>
<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>
<a href="offers.html" class="go-back-button"><img src="../assets/images/ico-arrow-back.png" alt="go back"/></a>
<div class="right-menu menu-no-icons">
    <a href="#" class="menu-item active-menu">
        <span>Gin</span>
    </a>
    <a href="#" class="menu-item">
        <span>Tonic</span>
    </a>
    <a href="#" class="menu-item">
        <span>Cocktails</span>
    </a>
    <a href="#" class="menu-item">
        <span>Tagesem<br/>pfehlungen</span>
    </a>
</div>