<div class="history-wrapper" style="background-image: url('../assets/images/backend-images/guinness-bg.jpg');">
    <div class="page-template histoty-template history-custom">
        <div class="custom-history-text">
            <img src="../assets/images/backend-images/stollen.png" class="center-image" alt="stollen"/>
            <img src="../assets/images/backend-images/guinness-certificate.jpg" class="center-image"
                 alt="guinness-certificate"/>
            <br/>
            <p>
                Im STOLLEN 1930 in Kufstein gibt es die weltgrößte Auswahl an Gin. Die Zeit spielt dem STOLLEN 1930 in
                Kufstein zweifelsfrei in die Hände: Vor knapp drei Jahren als Geheimtipp für anspruchsvolle BarFlies
                gestartet, stellt das in den Bauch des Festungsberges gehauene Etablissement ein spektakuläres neues
                Wahrzeichen in Tirol dar und zieht als solches staunende Genuss-Spechte aus wiederum erstaunlich großen
                Entfernungen in seinen Bann. Gin ist die deklarierte Leidenschaft dieser Bar. Und weil Passion
                bekanntlich eine unschlagbare Waffe ist, hat das versierte Bartender-Team in kurzer Zeit so viele
                verschiedene Sorten des Wacholderspirits in aller Welt für seine Gäste gesammelt, dass es sogar für
                einen Eintrag im ehrwürdigen „Guinness Book of Records“ gereicht hat. Unfassbare 828 (!) Gin-Labels
                zählt man aktuell im 600 Jahre alten Gewölbe, das seinerzeit für die Kühlung im Zuge der Bierbrauerei
                genutzt wurde. Noch wichtiger als das Destillat selbst, ist den in der Barkunst top ausgebildeten Damen
                und Herren hinterm Tresen, was man daraus alles machen kann. Und so beobachtet
                man die emsigen „Stollen-Arbeiter“ dabei, wie sie im Stile von Apothekern alter Schule die jeweiligen
                Gin-Spirits mit den richtigen Tonics, diversen Kräutern und Geschmacks-Pop-Ups zu echten
                Gaumen-Festspielen mixen. Dass der STOLLEN 1930 sich bewusst an ein Publikum ab 21 Jahre richtet und an
                sieben Tagen die Woche streng auf die Einhaltung dieser goldenen Regel geachtet wird, ist Eigentümer
                Richard Hirschhuber und Betriebsleiter Martin Gasteiger besonders wichtig. Und auch wenn der STOLLEN
                1930 inzwischen so viel Anziehungskraft entwickelt hat, dass man sich über dieses Bar-Erlebnis hinaus
                wunschlos glücklich schätzen kann, sei an dieser Stelle doch erwähnt, dass die kulinarische Einkehr im
                unmittelbar anschließenden Traditionsgasthaus Auracher Löchl mehr als lohnt. Mehr noch: Wer von den
                Barfreuden nicht genug kriegt oder den Besuch im Stollen 1930 bzw. Auracher Löchl idealerweise mit einem
                (Wochenend-) Ausflug verbindet, dem sei an dieser Stelle das neu eröffnete Boutique-Hotel „Träumerei #8“
                – vis-á-vis vom Stollen-Eingang – wärmstens ans Herz gelegt.
            </p>
        </div>
    </div>
</div>

<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>

<div class="right-menu">
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Auracher Löchl</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Stollen 1930</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Träumerei #8</span>

    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Schwarze Katze</span>
    </a>
</div>