<div class="page-template histoty-template history-stollen">
    <img src="../assets/images/backend-images/history-stollen.jpg" alt="stollen"/>

    <div class="history-stollen-content">
        <div class="history-stollen-intro">
            <div class="stollen-intro-title">STOLLEN 1930</div>
            IF YOU HAVEN'T GOT A DRINK IN YOUR HAND, YOU'VE GOT NOTHING TO DRINK
        </div>
        <div class="stollen-text">
            <p>Stollen 1930 - the bar in Kufstein which you simply must see</p>
            <p>The new bar in the hotel is as inimitable as the Auracher Löchl itself: the Stollen 1930. When you enter
                our bar in Kufstein you will feel as if you have been transported back to the time, when everyone in
                Paris, New York and London was still playing the chansons of the 30's. Cocktails, which have been
                popular for almost a century, are served to suit the mood of the music, but you can also order rum, gin,
                alcohol-free drinks from Fentimans and rarities. For those who prefer to drink their local brew,
                naturally we offer excellent beer from Belgium, Ireland and England.</p>
            <p>Our accomplished bar staff take great pride in offering first-class service in a stylish ambience,
                enchant our guests and always extend you a courteous welcome.</p>
        </div>
    </div>

</div>

<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>

<div class="right-menu">
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Auracher Löchl</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Stollen 1930</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Träumerei #8</span>

    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Schwarze Katze</span>
    </a>
</div>