<div class="page-template histoty-template">

    <div class="history-title">THE AURACHER LÖCHL</div>
    <div class="history-subtitle">in the dreamy Kufstein Old Town</div>

    <div class="history-content">
        <img src="../assets/images/backend-images/history-auracher.jpg" alt="Auracher"/>
        <div class="history-main-text">
            <h5>IM HERZEN KUFSTEINS</h5>
            <p>Wer Kufstein kennt, der kennt auch die Römerhofgasse und den Genusshof Auracher Löchl – das gilt nicht
                nur für die Gäste und Einheimischen von heute, sondern galt schon für die Reisenden und Stadtbewohner im
                14. Jahrhundert. </p>

            <p>Und damals wie heute hat man den schützenden Festungsberg im Rücken, den grünen Inn als sanfte
                Lebensquelle vor sich, das uralte Stadttor zur linken und die muntere Gasse zur rechten Hand.
                So wurde der Hof trotz seiner verschiedenartigen Teile stets als Einheit empfunden. Doch wenn man
                gleichzeitig bedenkt wie nah das Auracher Löchl an den unteren Stadt-Toren lag und wie eng sein
                Schicksal mit der Festung Kufstein verknüpft war, muss man sich fragen, wer wohl 600 Jahre lang seine
                schützenden Hände über das Haus gehalten hat. Denn wie durch ein Wunder blieb dem Auracher Löchl viel
                Übel erspart, das die restliche Stadt erdulden musste. Die alten Überlieferungen erzählen von etlichen
                „Guten Geistern“...</p>
            <h5>Ab 1400…</h5>
            <p>Irgendwann um 1409 wurde gleich hinter der Stadtmauer mit Inn-Steinen der älteste Teil des Auracher Hofs
                direkt an und in den Festungsberg gebaut. Der Beiname „Löchl“ stammt von dem 90 Meter langen Stollen,
                den die Besitzer zur Kühlung des selbst gebrauten Biers in den Felsen hauen ließen.</p>

            <h5>Ab 1448</h5>

            <p>war die Schänke schon ein beliebter Mittelpunkt der Stadt. Hier verkehrten die vielen Soldaten, die auf
                der Festung stationiert waren. Wobei die Offiziere im bis heute erhaltenen beheizten Stüberl und die
                unteren Dienstgrade im felsigen Untergeschoss saßen. Verwegene Inn-Flößer und Fischer legten beim
                Auracher Steg an, und die Händler und Reisenden labten sich und ihre Pferde. Ortsansässige Handwerker
                und Bauern boten hier ihre Waren feil, und natürlich durften auch der gehobene Bürgerstand und der
                Klerus nicht fehlen. Kein Wunder, dass an einem Ort, an dem außer dem Inn auch viele wertvolle
                Informationen vorbei flossen, Politik gemacht wurde. Die Gründer-Familie Auracher stellte in den
                folgenden Generationen insgesamt zehn Bürgermeister und baute ihr Ansehen und den Hof immer weiter
                aus.</p>
            <h5>Ab 1500…</h5>

            <p>Nach der Belagerung und Eroberung Kufsteins 1504 durch Kaiser Maximilian I. berichtet die
                Auracher-Geschichtsschreibung vom Auftauchen des ersten „guten Geistes“. Ein kopfloser bayrischer
                Gefolgsmann des ebenfalls geköpften Festungshauptmanns Pienzenauer saß fortan ab Mitternacht in seiner
                Lieblings-Schänke und wachte treu über seinen Stammplatz. Durch ihn soll das Auracher Löchl vor den
                plündernden Soldaten des Habsburger-Kaisers verschont geblieben sein. (Siehe: „Sagenhaftes Löchl S.
                20.)</p>

            <h5>Ab 1700…</h5>
            <p>Welcher gute Geist das Auracher Löchl während des verheerenden Stadtbrandes 1703 beschützte, ist nicht
                überliefert. Dieses Feuer war von den Kufsteinern selbst gelegt worden, um das anrückende Heer des
                bayrischen Kurfürsten Max Emanuel aufzuhalten. Es geriet aber schnell außer Kontrolle.
            </p>
            <p>Der Auracher Hof blieb auf wunderbare Weise verschont.</p>
        </div>

        <img src="../assets/images/backend-images/auracher.jpg" alt="Auracher"/>
        <div class="history-main-text">
            <h5>DER AURACHER HOF BLIEB VERSCHONT</h5>
            <p>Der viel gepriesene grüne Inn war in der gesamten Geschichte der Stadt Kufstein nicht nur Handelsweg und
                Lebensader, sondern auch eine ständige Bedrohung. Der gemauerte Übergang, der noch heute über die
                Römerhofgasse führt und das „Kleinste Brückenrestaurant der Welt“ beherbergt, war keine bequeme
                Verbindung zwischen den Häusern, sondern diente bei Hochwasser als Notsteig, über den man Wertvolles auf
                den Festungsberg bringen konnte. Dass dies nie wirklich nötig war, verdankte man angeblich dem guten
                Geist des „FischerLoisl“, der alle Anzeichen für drohendes Hoch
                wasser kannte und nach seinem nassen Tod im Inn die Hofbewohner und Gäste immer rechtzeitig warnte.
                (Siehe: „Sagenhaftes Löchl S.18.)</p>

            <h5>Ab 1800…</h5>

            <p>
                1809 geriet die Stadt im Tiroler Freiheitskrieg gegen die napoleonischen Truppen erneut in Vollbrand,
                aber auch diesmal blieb der Auracher Hof verschont.
                Ab 1869 wurde in der ehemaligen Bierschänke Auracher Löchl erstmals Wein eingelagert und ausgeschenkt –
                und der wohlbestückte Weinkeller wurde zum Reich der „Schwarzen Katz`“. Sie lag stets auf dem
                allerbesten Fass und verteidigte es wild fauchend und kratzend gegen unbefugtes Abzapfen. Das
                abergläubische Gesinde hielt die Katze für eine Abgesandte des Teufels und ließ den guten Wein in Ruhe.
                Zum Dank nahmen die Auracher Wirtsleute die Schwarze Katze in ihr Haus-Wappen auf. (Siehe: „Sagenhaftes
                Löchl S.19.)
            </p>

            <h5>Ab 1900…</h5>
            <p>
                Zur Jahrhundertwende wurde Kufstein eine Wintersport-Hochburg. Die jährlichen „Wintersportfeste“ waren
                glanzvolle gesellschaftliche Ereignisse. Neben heimischem Publikum kamen Sonderzüge mit 1500 Gästen aus
                Bayern und sogar England, um beim Paar-Rodeln, Schi-Wettkämpfen wie Schlangen- und Fern-Lauf (Slalom?),
                Schneeschuh-Lauf, Schi-Weitspringen (Höchstweite 16 Meter!), Hornschlitten-Rennen und vielem mehr dabei
                zu sein. 1906 fielen allerdings die Eiskunstlauf-Bewerbe und das Eis-Fest auf dem Auracher-Teich ins
                Wasser, weil die kreuzbraven „guten Geister“ des Auracher Löchls wie jeden Freitag Eisblöcke zum
                Bierkühlen herausgeschnitten hatten. 1908 beklagte die Bayrische Staatsbahn die späte Rückkehr des
                Münchner Zugs erst um 10.24 Uhr nachts, weil die Passagiere „allzu lang in den Kufsteiner Restaurationen
                verweilt hätten.“ Danach brachen dunkle Zeiten herein. Im Ersten und Zweiten Weltkrieg wurden die
                schon jahrhundertelang genutzten kleinen Stollen im Festungsberg erweitert und als Schutzbunker für die
                Kufsteiner Bevölkerung genutzt. Auch diesmal blieb das Auracher Löchl von Bomben und Feuer verschont.
                Und nachdem der Gründerfamilie Auracher nach vielen Generationen die Nachkommen ausgingen, verkaufte man
                den Hof 1922 an die Familie Neuhauser, die ihn im traditionellen Stil weiterführte. Ein ganz besonderer
                guter Geist des Hauses war der Musiker und Komponist Karl Ganzer, der ab 1946 regelmäßig mit seiner
                Knopf-Harmonika im Auracher Löchl aufspielte. Dort entstand auch sein weltberühmtes, millionenfach #m
                nachgesungenes Kufsteiner Lied „Kennst du die Perle, die Perle Tirols...“ Ganzers Sitzplatz in der
                großen Stube wird bis heute pietätvoll frei gehalten, und im Pflaster der Gasse vor dem Haus setzte man
                ihm ein würdiges Denkmal. Im Jahr 1992 stand das Auracher Löchl neuerlich zum Verkauf und hatte wieder
                Glück, weil sich der Zillertaler Gastronom Raimund Hirschhuber kopfüber in das urige Haus verliebteund
                es vor einer radikalen Modernisierung bewahrte.
            </p>

            <h5>Ab 2000... </h5>
            <p>
                Nach dem allzu frühen Tod von Raimund Hirschuber im Jahr 2003 übernahm sein Sohn Richard den Genusshof
                Auracher Löchl. Seither bemüht er sich nach dem Grundsatz „Tradition ist nicht das Hüten der Asche,
                sondern das Weitergeben des Feuers“ den alten Geist des Hauses wieder spürbar zu machen und zugleich
                Zeitgeist einfließen zu lassen. Ob die Gäste von heute tatsächlich begeistert sind, können sie nach
                einem Aufenthalt im Genusshof selber beurteilen. Statt Schiefertafeln oder Pergament wie vor 600 Jahren
                stehen heute allerdings Internet-Plattformen wie tripadvisor, holidaycheck und viele weitere zur
                Verfügung. Oder man setzt sich mit Richard Hirschhuber direkt in Verbindung.
            </p>
            <p>
                Falls er nicht ohnehin im Betrieb ist und an geistreichen neuen Ideen tüftelt, steht er seinen Gästen
                unter Tel. +43 664 3412121 per SMS persönlich zur Verfügung.
            </p>
        </div>
    </div>

</div>

<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>

<div class="right-menu">
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Auracher Löchl</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Stollen 1930</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Träumerei #8</span>

    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Schwarze Katze</span>
    </a>
</div>