<div class="page-template histoty-template history-traumerei">

    <p>
        Wer Kufstein kennt, kennt auch die Römerhofgasse in der Altstadt und den Genusshof Auracher Löchl, der immer
        wieder mit außergewöhnlichen Tourismus-Projekten punktet. Seit kurzem ist der Traditionsbetrieb um eine
        Attraktion reicher: Richard und Alexandra Hirschhuber gönnten dem angejahrten Hotel ein Rundum-Lifting und
        präsentieren nun ein Top-Boutique-Hotel mit Herz und Niveau:
    </p>
    <p>
        Erfahrene Welt-Reisende kennen drei deutlich unterscheidbare Hotel-Kategorien. <br/>
        TRÄUMEREI #8 In 34 Traum-Räumen um die Welt
    </p>

    <h5>#1</h5>
    <p>ist so einschüchternd luxuriös, dass man ständig nervös nach seiner Kreditkarte tastet. Solche Hotels werden
        gemacht. </p>

    <h5>#2</h5>
    <p>ist nett und ordentlich aber fühlt sich immer so an, als wäre man gerade bei Tante Trudi zu Besuch. Diese Hotels
        haben Tradition. </p>

    <h5>#3</h5>
    <p>
        hingegen ist chaotisch, originell und quicklebendig - bis hin zu den Käfern unterm Bett. Solche Hotels
        passieren.
        Und dann vergeben erfahrene Welt-Reisende noch Wildcards an außergewöhnliche Hotels wie die TRÄUMEREI #8 in der
        Kufsteiner Altstadt, die ganz einfach nur SIND: natürlich gewachsen,
        unaufdringlich komfortabel, wohltuend traditionell, überraschend vielgestaltig zugleich und qualitativ
        hochwertig.
        Ab 1409 träumten hier Kaufleute, Soldaten, Handwerker und Flößer auf harten Strohsäcken vom fernen Glück, das
        auf sie warten mochte. 1896 musste ein weiteres Gästehaus an der Kufsteiner Stadtmauer errichtet werden. Mit
        Pferdestall und Metzgerei zu ebener Erde und sensationellem Luxus im ersten Stock. Dort gab es bereits
        fließendes Wasser. Zwanzig Jahre später baute die Betreiberfamilie um und erfand dabei versehentlich das erste
        Motel – unten Automobil-Garage, darüber Zimmer – obwohl sie eigentlich von künftigen
        Gästeströmen durch die neue Eisenbahn-Station träumten. Danach schlummerte das Romantik-Hotel mit dem
        idyllischen Terrassen-Café am Inn beinahe 100 Jahre lang ungestört vor sich hin. Bis die heutigen Besitzer
        Richard und Alexandra Hirschhuber genug nachgedacht hatten und genug in der Welt herumgereist waren, um endlich
        ihren buntesten und verwegensten Traum zu verwirklichen: Sie gönnten dem betagten Haus zwischen Festungsfels,
        Stadtmauer und Inn eine Komplett-Renovierung.Innen, wohlgemerkt. Denn von der denkmalgeschützten Römerhofgasse
        her deutet nur wenig darauf hin, dass sich hinter den
        schlichten Mauern ein stilvoll-modernes Boutique-Hotel verbirgt, das allerdings - wie der restliche Genusshof
        Auracher Löchl – nur schwer in eine branchenübliche Schublade passt.
    </p>

    <div class="history-image-top">
        <img src="../assets/images/backend-images/traumerei-image.jpg" alt="Zimmer"/>
        <div class="offers-details-text history-extend">
            <div class="offers-details-sub-title">TRÄUMEREI #8</div>
            <div class="offers-details-text-title">In 34 Traum-Räumen um die Welt</div>

        </div>
    </div>

    <h5>* * * *</h5>
    <p>
        In den offiziellen Kategorie-Beschreibungen der TRÄUMEREI #8 stehen nur Begriffe wie „4 Sterne, Tiroler Altholz
        und edle Stoffe, luxuriöse Boxspring-Betten der Manufactur Schramm, Gratis-Highspeed-Wlan, Kabel-TV,
        Geberit-DuoFresh-WCs, Info-Hörbert, Frühstücksbuffet bis 11 Uhr und Tiefgaragenplätze...“
        Doch diese Bezeichnungen erzählen nichts von den 34 staunenswerten Themen-Zim
        mern, die mit liebevoll zusammengetragenen Souvenirs von Überallher dekoriert sind und zu entspannten
        Traum-Reisen rund um die Welt verführen. Wie wäre es mit einer Nacht in Paris oder einem Abend in Rom - zusammen
        mit dem oder der Liebsten? Ein tulpenbuntes Aufwachen in Amsterdam ist ebenso möglich wie duschen an der
        chinesischen Mauer, Kuba-Impression oder Marrakesch-Feeling.
    </p>
    <p>
        DAMALS… Ab 1415 konnten Kaufleute, Handwerker und Reisende im Wirtshaus Auracher übernachten – allerdings nur im
        harten Strohlager. 1896 baute man an der Stadtmauer ein Gästehaus mit Pferdestall, der 1920 zur Automobil-Garage
        wurde.
    </p>
    <p>
        HEUTE… Mittlerweile ist das Haus als außergewöhnliches Boutique-Hotel TRÄUMEREI #8 bekannt, das seine Gäste in
        34 liebevoll ausgestatteten Themen-Zimmern zu entspannten Traum-Reisen rund um die Welt verführt. Sehr
        besonders: Zimmer #69!
    </p>

    <h5>LIEBESNEST #69</h5>
    <p>
        Wer weiß vom versteckten Liebesnest #69 im Inneren der Altstadt-Brücke, die schon seit Jahrhunderten als
        Hochwasser-Zuflucht, aber auch als diskretes Separee diente? Heute beherbergt sie das nachweislich kleinste
        Brücken-Restaurant der Welt – samt geheimer Tape
        tentür-Verbindung zu einem Luxusbett und Whirlpool mit Aussicht. Außerdem gehört die TRÄUMEREI #8 zu den wenigen
        auserwählten Hotels, die einen historisch verbrieften Hausgeist haben. Dieser hier spukt und poltert nicht
        herum, sondern schleicht samtpfötig in sämtliche Zimmer und dient auch als Wappentier.
    </p>

    <h5>WELTREKORD: 828 GINS</h5>
    <p>
        Vor gut 400 Jahren hat die Schwarze Katz´ noch die besten Weinfässer im Stollen bewacht - heute beherbergt der
        archaische, 90 m lange Felsengang die größte Gin-Sammlung der Welt (aktuell 828 Sorten, Guiness-Buch der
        Rekorde) die in der Speakeasy-Bar STOLLEN 1930 auch verkostet werden können. Über die weitum gerühmte Tiro
        ler Küche und die fantastisch en Dry-Aged-Steaks in den uralten Stuben des Auracher Löchls wurde schon viel
        geschrieben, aber selber testen und genießen ist allemal besser. Nach einem letzten Cocktail oder Digestif im
        schrägen Ambiente der Stollen-Bar darf man sich im Traum-Raum seiner Wahl erholsamen Schlaf und intensiven
        Träumen hingeben – wer mag, kann sie morgens beim Frühstücksbuffet im außergewöhnlichen Bistro ins dort
        aufliegende Traumbuch eintragen. Vielleicht erzählen andere TRÄUMEREI #8-Gäste auch, welchen traumschönen
        Stopover sie persönlich für die nächste Übernachtung empfehlen würden, bis man sich irgendwann in 34 Räumen rund
        um die Welt geträumt hat...
    </p>

</div>

<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>

<div class="right-menu">
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Auracher Löchl</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Stollen 1930</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Träumerei #8</span>

    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Schwarze Katze</span>
    </a>
</div>