<div class="history-wrapper" style="background-image: url('../assets/images/backend-images/katz-bg.jpg');">
    <div class="page-template histoty-template history-custom">
        <div class="history-title">DIE SCHWARZE KATZ‘</div>
        <div class="history-subtitle">SAGENHAFTES LÖCHL</div>

        <div class="custom-history-text">
            <p>
                Niemand wusste später zu sagen, woher die schwarze Katze gekommen war, die irgendwann nach 1870 in den
                Felsenstollen des Gasthofes Auracher Löchl spaziert kam. Sie strich eine Weile zwischen den dort
                eingelagerten Bier- und Weinfässern herum und ließ sich schließlich behaglich schnurrend auf einem
                Weinfass nieder. #b
            </p>
            <p>
                Dort blieb sie auch in den nächsten Tagen.
            </p>
            <p>
                „Da is so a komische Katz im Keller“ berichtete eine der Mägde dem Hausherrn. „Die lasst sich net
                verscheuchen. Sobald mia sie aussi schmeißen, is sie wieder da.“ Der alte Auracher ging mit in den
                Stollen, doch als er den Ruheplatz der Katze sah, musste er lachen: „Dös Viecherl woaß jedenfalls, was
                guat ist: in dem Fass da liegt unser bester Wein!“
            </p>
            <p>
                Der Wirt kraulte die schöne schwarze Katze freundlich hinter den Ohren und trug ihr scherzhaft auf: „Tu
                nur schön aufpassen auf unseren feinsten Tropfen!“ Dann ließ er ihr eine Schale Milch aus der Küche
                bringen und gab dem Hausgesinde Anweisung, das Tier in Ruhe zu lassen.
            </p>
            <p>
                Doch eines Nachts schlich sich heimlich ein Knecht in den Stollen. Er brachte einen Hammer, einen
                Weinheber und einen Tonkrug mit, um sich – wie er es schon öfters getan hatte – einen ordentlichen
                Anteil vom Festtagswein abzuzweigen. Geschwind kletterte der Mann aufs Fass um den Stopfen
                herauszuschlagen. Dabei warf er die schwarze Katze grob zu Boden und knurrte: „Verschwind, du Sauviech!“
                Kaum aber hatte der Knecht den Hammer angesetzt, war die Katze schon über ihm.
            </p>
            <p>
                Sie fuhr ihm mit Zähnen und Krallen ins Gesicht, und zerbiss und zerkratze ihn so jämmerlich, dass der
                Knecht verzweifelt um Hilfe rief. Und so blieb es viele Jahrzehnte lang: die „Schwarze Katz´“ hielt
                immer zuverlässig beim besten Fass Wein Wache. Sie duldete zwar das Ablassen des Weins durch den
                Mundschenk oder die Wirtsleute, fuhr aber allen anderen fauchend ins Gesicht. Rasch erfuhren auch die
                Stammgäste von ihrer Vorliebe und verlangten bei der Bestellung: „Bring uns doch den ‚Guten‘ von der
                Schwarzen Katz´...“
            </p>
            <p>
                Doch um 1900 später wollte eine besonders fromme Auracher-Löchl-Wirtin das vermeintliche „Teufelstier“
                nicht länger dulden. Die Frau ließ einen hochgelehrten Franziskanerpater vom Thierberg rufen, der schon
                viele unliebsame Geister vertrieben oder in den Wilden Kaiser gebannt hatte. Der Pater kam mit
                Weihwasser, Gebetsbuch und Rosenkranz in den Stollen und begann mit dem Exorzismus. Die schwarze Katze
                maunzte zwar unwillig wegen der Wasserspritzer, blieb aber dennoch liegen. Schließlich gab der #a Pater
                auf und sagte zur Wirtin: „Dies ist entweder gar kein Geist oder ein guter Geist. Ein böser hätte schon
                längst weichen müssen!“
            </p>
            <p>
                Damit ging die schwarze Katz‘ endgültig in die Geschichte des Auracher Löchls und schließlich sogar ins
                Hauswappen ein. Und so mancher, der heute zu später Stunde aus der Gin-Gallery und dem Stollen 1930
                kommt, schwört, dass er dort im Felsenkeller oder in der Römerhofgasse wohl keine weißen Mäuse aber eine
                schöne schwarze Katz‘ gesehen hat!
            </p>
        </div>
    </div>
</div>

<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>

<div class="right-menu">
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Auracher Löchl</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Stollen 1930</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Träumerei #8</span>

    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Schwarze Katze</span>
    </a>
</div>