<div class="lock-screen">
    <ul class="background-slide owl-carousel">
        <li class="slide-item" style="background-image: url('assets/images/background-1.jpg');"></li>
        <li class="slide-item" style="background-image: url('assets/images/background-1.jpg');"></li>
        <li class="slide-item" style="background-image: url('assets/images/background-1.jpg');"></li>
    </ul>

    <div class="bg-footer">
        <div class="footer-wrapper">
            <div class="first-cirle"></div>
            <div class="second-cirle"></div>
            <a href="home" class="unlock-button">
                <img src="assets/images/cat-logo.png" alt="logo"/>
                Touch me
            </a>

            <div class="footer-text">
                <div class="top-footer">Träumerei#8 & Auracher Löchl</div>
                Wine house | Boutique Hotel | Gin Bar | Steak House | Bistro
            </div>
        </div>

        <a href="wifi" class="lal js__p_another_start">Set pass</a>
        <a href="wifi" class="settings-btn lal js__p_start"><img src="assets/images/ico-settings.png" alt="settings"/></a>
    </div>
</div>