<div class="page-template">
    <div class="fixed-header">
        <div class="page-title">Menu</div>
    </div>
    <div class="header-space"></div>

    <div class="hotel-menu-items">
        <div class="hotel-menu-item" style="background-image: url('../assets/images/backend-images/image_7.png');">
            <div class="menu-detail-text">
                <div class="menu-price">50&euro;</div>
                <div class="menu-detail-title">Sed do eiusmod</div>
                <div class="menu-details-sub-title">Subtitle text</div>
                <div class="menu-detail-content">
                    Agosto ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore.
                </div>
            </div>
        </div>

        <div class="hotel-menu-item" style="background-image: url('../assets/images/backend-images/image_7.png');">
            <div class="menu-detail-text">
                <div class="menu-price">20&euro;</div>
                <div class="menu-detail-title">Sed do eiusmod2</div>
                <div class="menu-details-sub-title">Subtitle text</div>
                <div class="menu-detail-content">
                    Agosto ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore.
                </div>
            </div>
        </div>
        <div class="hotel-menu-item" style="background-image: url('../assets/images/backend-images/image_7.png');">
            <div class="menu-detail-text">
                <div class="menu-price">25&euro;</div>
                <div class="menu-detail-title">Sed do eiusmod3</div>
                <div class="menu-details-sub-title">Subtitle text</div>
                <div class="menu-detail-content">
                    Agosto ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore.
                </div>
            </div>
        </div>
        <div class="hotel-menu-item" style="background-image: url('../assets/images/backend-images/image_7.png');">
            <div class="menu-detail-text">
                <div class="menu-price">15&euro;</div>
                <div class="menu-detail-title">Sed do eiusmod4</div>
                <div class="menu-details-sub-title">Subtitle text</div>
                <div class="menu-detail-content">
                    Agosto ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore.
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="fixed-bottom-contact">
        Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
    </div>

</div>

<div class="right-menu">
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Home</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_rooms.png" alt="Zimmer"/>
        <span>Zimmer</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_offers.png" alt="Angebote"/>
        <span>Angebote</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_dining.png" alt="Frühstück"/>
        <span>Frühstück</span>
    </a>
</div>