<div class="page-template">
    <div class="page-title">
        Offers
    </div>
    <div class="offers-block">

        <div class="list-item">
            <div class="image-list" style="background-image: url('../assets/images/backend-images/image_8.png');">
                <div class="corner"></div>
            </div>
            <div class="list-description-block">
                <div class="list-title">Sed do eiusmod</div>
                <div class="list-description">
                    Agosto ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                    <a href="offer-details.html">read more</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="list-item">
            <div class="image-list" style="background-image: url('../assets/images/backend-images/image_8.png');">
                <div class="corner"></div>
            </div>
            <div class="list-description-block">
                <div class="list-title">Sed do eiusmod</div>
                <div class="list-description">
                    Agosto ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                    <a href="offer-details.html">read more</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="list-item">
            <div class="image-list" style="background-image: url('../assets/images/backend-images/image_8.png');">
                <div class="corner"></div>
            </div>
            <div class="list-description-block">
                <div class="list-title">Sed do eiusmod</div>
                <div class="list-description">
                    Agosto ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                    <a href="offer-details.html">read more</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="list-item">
            <div class="image-list" style="background-image: url('../assets/images/backend-images/image_8.png');">
                <div class="corner"></div>
            </div>
            <div class="list-description-block">
                <div class="list-title">Sed do eiusmod</div>
                <div class="list-description">
                    Agosto ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                    <a href="offer-details.html">read more</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="fixed-bottom-contact">
        Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
    </div>
</div>

<div class="right-menu">
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Home</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_rooms.png" alt="Zimmer"/>
        <span>Zimmer</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_offers.png" alt="Angebote"/>
        <span>Angebote</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_dining.png" alt="Frühstück"/>
        <span>Frühstück</span>
    </a>
</div>