<div class="gallery-details room-details">
    <div class="gradient-block-title">
        <div class="page-title">Room</div>
    </div>
    <div class="gradient-bottom"></div>

    <div id="sync1" class="owl-carousel owl-theme">
        <div class="item">
            <img src="../assets/images/background-1.jpg" alt=""/>
        </div>
        <div class="item">
            <img src="../assets/images/background-1.jpg" alt=""/>
        </div>
        <div class="item">
            <img src="../assets/images/background-1.jpg" alt=""/>
        </div>
        <div class="item">
            <img src="../assets/images/background-1.jpg" alt=""/>
        </div>
        <div class="item">
            <img src="../assets/images/background-1.jpg" alt=""/>
        </div>
        <div class="item">
            <img src="../assets/images/background-1.jpg" alt=""/>
        </div>
        <div class="item">
            <img src="../assets/images/background-1.jpg" alt=""/>
        </div>
        <div class="item">
            <img src="../assets/images/background-1.jpg" alt=""/>
        </div>
        <div class="item">
            <img src="../assets/images/background-1.jpg" alt=""/>
        </div>
    </div>

    <div id="sync2" class="thumbs-carousel owl-carousel owl-theme">
        <div class="item">
            <div class="gallery-thumb"
                 style="background-image: url('../assets/images/backend-images/image_8.png');"></div>
        </div>
        <div class="item">
            <div class="gallery-thumb"
                 style="background-image: url('../assets/images/backend-images/image_8.png');"></div>
        </div>
        <div class="item">
            <div class="gallery-thumb"
                 style="background-image: url('../assets/images/backend-images/image_8.png');"></div>
        </div>
        <div class="item">
            <div class="gallery-thumb"
                 style="background-image: url('../assets/images/backend-images/image_8.png');"></div>
        </div>
        <div class="item">
            <div class="gallery-thumb"
                 style="background-image: url('../assets/images/backend-images/image_8.png');"></div>
        </div>
        <div class="item">
            <div class="gallery-thumb"
                 style="background-image: url('../assets/images/backend-images/image_8.png');"></div>
        </div>
        <div class="item">
            <div class="gallery-thumb"
                 style="background-image: url('../assets/images/backend-images/image_8.png');"></div>
        </div>
        <div class="item">
            <div class="gallery-thumb"
                 style="background-image: url('../assets/images/backend-images/image_8.png');"></div>
        </div>
        <div class="item">
            <div class="gallery-thumb"
                 style="background-image: url('../assets/images/backend-images/image_8.png');"></div>
        </div>
    </div>
</div>

<div class="page-template">
    <div class="bottom-room">
        <div class="room-title">Zimmer für die Traum-Reise ab 79,- €</div>
        <div class="room-subtitle">Direkt Bucher Vorteil</div>
        <div class="room-description">
            <ul>
                <li>Tages Gin Tonic im Stollen 1930 gratis</li>
                <li>Keine Anzahlung + stornierbar bis 2 Tage vor Anreise</li>
                <li>Gratis Parkplatz</li>
            </ul>
        </div>
    </div>
</div>

<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>

<div class="right-menu">
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Home</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_rooms.png" alt="Zimmer"/>
        <span>Zimmer</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_offers.png" alt="Angebote"/>
        <span>Angebote</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_dining.png" alt="Frühstück"/>
        <span>Frühstück</span>
    </a>
</div>