<div class="page-template cocktail-template">

    <div class="cocktail-blocks">
        <div class="cocktails-block-1" style="background-image: url('../assets/images/background.png');"></div>
        <div class="cocktails-block-2" style="background-image: url('../assets/images/background.png');"></div>
        <div class="cocktails-block-3" style="background-image: url('../assets/images/background.png');"></div>

        <div class="day-cocktail">
            <p>Gin Braltar(Citrus) mit Mandarinen
                und Limetten geschmack.
            </p>
            <p>
                Royal Bliss "Yuzu Sensation" Tonic
                Wasser.
            </p>
            <p>
                Gin!Gin!!
            </p>
            <div class="clear"></div>
        </div>

    </div>

</div>
<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>
<a href="offers.html" class="go-back-button"><img src="../assets/images/ico-arrow-back.png" alt="go back"/></a>
<div class="right-menu menu-no-icons">
    <a href="#" class="menu-item">
        <span>Gin</span>
    </a>
    <a href="#" class="menu-item">
        <span>Tonic</span>
    </a>
    <a href="#" class="menu-item">
        <span>Cocktails</span>
    </a>
    <a href="#" class="menu-item active-menu">
        <span>Tagesem<br/>pfehlungen</span>
    </a>
</div>