<div class="page-template">
    <div class="page-title">
        Our Team
    </div>
    <div class="mansonary-gallery">

        <div id="wrapper">
            <div id="listeam">
                <div class="item"><img src="../assets/images/backend-gallery/image.png" alt=""/>
                    <div class="team-item-name">Mable Moore1</div>
                </div>
                <div class="item">
                    <img src="../assets/images/backend-gallery/image_2.png" alt=""/>
                    <div class="team-item-name">Mable Moore2</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_3.png" alt=""/>
                    <div class="team-item-name">Mable Moore3</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_4.png" alt=""/>
                    <div class="team-item-name">Mable Moore4</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_5.png" alt=""/>
                    <div class="team-item-name">Mable Moore5</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_6.png" alt=""/>
                    <div class="team-item-name">Mable Moore6</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image.png" alt=""/>
                    <div class="team-item-name">Mable Moore1</div>
                </div>
                <div class="item">
                    <img src="../assets/images/backend-gallery/image_2.png" alt=""/>
                    <div class="team-item-name">Mable Moore2</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_3.png" alt=""/>
                    <div class="team-item-name">Mable Moore3</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_4.png" alt=""/>
                    <div class="team-item-name">Mable Moore4</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_5.png" alt=""/>
                    <div class="team-item-name">Mable Moore5</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_6.png" alt=""/>
                    <div class="team-item-name">Mable Moore6</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image.png" alt=""/>
                    <div class="team-item-name">Mable Moore1</div>
                </div>
                <div class="item">
                    <img src="../assets/images/backend-gallery/image_2.png" alt=""/>
                    <div class="team-item-name">Mable Moore2</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_3.png" alt=""/>
                    <div class="team-item-name">Mable Moore3</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_4.png" alt=""/>
                    <div class="team-item-name">Mable Moore4</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_5.png" alt=""/>
                    <div class="team-item-name">Mable Moore5</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_6.png" alt=""/>
                    <div class="team-item-name">Mable Moore6</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image.png" alt=""/>
                    <div class="team-item-name">Mable Moore1</div>
                </div>
                <div class="item">
                    <img src="../assets/images/backend-gallery/image_2.png" alt=""/>
                    <div class="team-item-name">Mable Moore2</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_3.png" alt=""/>
                    <div class="team-item-name">Mable Moore3</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_4.png" alt=""/>
                    <div class="team-item-name">Mable Moore4</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_5.png" alt=""/>
                    <div class="team-item-name">Mable Moore5</div>
                </div>
                <div class="item"><img src="../assets/images/backend-gallery/image_6.png" alt=""/>
                    <div class="team-item-name">Mable Moore6</div>
                </div>

                <!-- ... -->
            </div>
        </div>

    </div>
</div>
<div class="fixed-bottom-contact">
    Täglich ab 7.00Uhr geöffnet・Kufstein ・Altstadt Römerhofgasse 4・www.traumerei brof
</div>

<div class="right-menu">
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_home.png" alt="Home"/>
        <span>Home</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_rooms.png" alt="Zimmer"/>
        <span>Zimmer</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_offers.png" alt="Angebote"/>
        <span>Angebote</span>
    </a>
    <a href="#" class="menu-item">
        <img src="../assets/images/ico_dining.png" alt="Frühstück"/>
        <span>Frühstück</span>
    </a>
</div>