<div class="page-template home-template">
    <div class="lang">
        <a href="#" class="lang__button de"></a>
        <a href="#" class="lang__button en"></a>
    </div>
    <div class="fixed-header">
        <div class="page-header">
            <div class="cat-logo">
                <img src="assets/images/logo-gradient.png" alt="logo"/>
            </div>
            <div class="top-right">
                <div class="header-title">{{langpack.title}}</div>
                <div class="header-description">
                    Wine House • Boutique Hotel • Gin Bar • Steak House • Bistro
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-space"></div>
    <div class="home-blocks">

        <a href="hotel/rooms" class="block-item one-half" style="background-image: url('assets/images/home-1.jpg');">
            <div class="text-over">
                <div class="put-middle">
                    {{langpack.home-1}}
                </div>
            </div>
        </a>

        <a href="history/auracher" class="block-item one-half half-second" style="background-image: url('assets/images/home-2.jpg');">
            <div class="text-over">
                <div class="put-middle">
                    {{langpack.home-2}}
                </div>
            </div>
        </a>

        <a href="bistro/gallery" class="block-item two-thirds right-space other-blocks" style="background-image: url('assets/images/home-3.jpg');">
            <div class="text-over">
                <div class="put-middle">
                    {{langpack.home-3}}
                </div>
            </div>
        </a>

        <a href="restaurant/gallery" class="block-item one-third other-blocks" style="background-image: url('assets/images/home-4.jpg');">
            <div class="text-over">
                <div class="put-middle">
                    {{langpack.home-4}}
                </div>
            </div>
        </a>

        <a href="hotel/vip" class="block-item full-w other-blocks" style="background-image: url('assets/images/home-5.jpg');">
            <div class="text-over">
                <div class="put-middle">
                    {{{langpack.home-5}}}
                </div>
            </div>
        </a>

        <a href="bar/gallery" class="block-item big-block right-space" style="background-image: url('assets/images/home-6.jpg');">
            <div class="text-over">
                <div class="put-middle">
                    {{langpack.home-6}}
                </div>
            </div>
        </a>

        <a href="hotel/team" class="block-item bottom-two other-blocks" style="background-image: url('assets/images/home-7.jpg');">
            <div class="text-over">
                <div class="put-middle">
                    {{langpack.home-7}}
                </div>
            </div>
        </a>

        <div class="clear"></div>
    </div>
    <div class="fixed-bottom-contact">{{{langpack.contacts}}}</div>
    <div class="clear"></div>
</div>

<div class="right-menu menu-no-icons language-menu">
    {{#data.isDE}}
    <a class="menu-item active-menu">
        <img src="assets/images/de.png" alt="Deutsch"/>
    </a>
    {{/data.isDE}}
    {{^data.isDE}}
    <a href="settings/locale" data-locale="de" class="menu-item">
        <img src="assets/images/de.png" alt="Deutsch"/>
    </a>
    {{/data.isDE}}

    {{#data.isEN}}
    <a class="menu-item active-menu">
        <img src="assets/images/en.png" alt="English"/>
    </a>
    {{/data.isEN}}
    {{^data.isEN}}
    <a href="settings/locale" data-locale="en" class="menu-item">
        <img src="assets/images/en.png" alt="English"/>
    </a>
    {{/data.isEN}}
</div>