<div class="lock-screen">
    <ul class="background-slide owl-carousel">
        {{#data.gallery}}
        <li class="slide-item" style="background-image: url('{{image}}');"></li>
        {{/data.gallery}}
    </ul>

    <div class="bg-footer">
        <div class="footer-wrapper">
            <div class="first-cirle"></div>
            <div class="second-cirle"></div>
            <a href="main/home" class="unlock-button">
                <img src="assets/images/cat-logo.png" alt="logo"/>
                {{langpack.touch}}
            </a>

            <div class="footer-text">
                <div class="top-footer">{{langpack.traumerei}}</div>
                Wine house | Boutique Hotel | Gin Bar | Steak House | Bistro
            </div>
        </div>

        <a href="settings/scan" class="settings-btn lal js__p_start"><img src="assets/images/ico-settings.png" alt="settings"/></a>
    </div>
</div>