<div class="page-template histoty-template">

    <div class="history-title">{{data.page.title}}</div>
    <div class="history-subtitle">{{data.page.subtitle}}</div>

    <div class="history-content">
        <img src="{{data.page.image}}" alt="Auracher Background"/>
        <div class="history-main-text">{{{data.page.description}}}</div>
    </div>

</div>

<div class="fixed-bottom-contact">{{{langpack.contacts}}}</div>

<a href="main/home" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="Home"/></a>

<div class="right-menu menu-no-icons">
    <a class="menu-item active-menu">
        <span>{{langpack.auracher}}</span>
    </a>
    <a href="history/stollen" class="menu-item">
        <span>{{langpack.stollen}}</span>
    </a>
    <a href="history/traumerei" class="menu-item">
        <span>{{langpack.traumerei}}</span>
    </a>
    <a href="history/katze" class="menu-item">
        <span>{{langpack.katze}}</span>
    </a>
</div>