<div class="page-template histoty-template">

    <div class="history-title">
        <img src="assets/images/cat-logo.png" alt="Logo" width="100"/>
        {{data.page.title}}
    </div>
    <div class="history-subtitle">{{data.page.subtitle}}</div>

    <div class="history-content">
        <img src="{{data.page.image}}" alt="Katze Background"/>
        <div class="history-main-text">{{{data.page.description}}}</div>
    </div>

</div>

<div class="fixed-bottom-contact">{{langpack.contacts}}</div>

<a href="terminal/home" class="go-back-button"><img src="assets/images/ico-arrow-back.png" alt="Home"/></a>

<div class="right-menu menu-no-icons">
    <a href="history/auracher" class="menu-item">
        <span>{{langpack.auracher}}</span>
    </a>
    <a href="history/stollen" class="menu-item">
        <span>{{langpack.stollen}}
    </a>
    <a href="history/traumerei" class="menu-item">
        <span>{{langpack.traumerei}}</span>
    </a>
    <a class="menu-item active-menu">
        <span>{{langpack.katze}}</span>
    </a>
</div>